@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-10">Online Library Management System (OLMS)</h1>
    <p>
        An Online Library Management System (OLMS) is a digital platform that helps libraries manage their resources and services efficiently. It enables users to access, borrow, and return books and other materials remotely. The system offers various features such as:

        User Management: Users can create accounts, track borrowing history, and manage preferences.
        Catalog Management: Librarians can add, modify, and organize book records.
        Search Functionality: Users can search for resources by title, author, or genre.
        Book Borrowing/Returning: Books can be borrowed and returned with due date tracking.
        Reservations and Notifications: Users can reserve unavailable books and receive notifications for due dates or availability.
        Reporting and Analytics: Admins can generate reports on book circulation and user activity.
    </p>
</div>
